[Unit]
Description=Run node.js dice
Requires=o11y-grafana.service
After=o11y-grafana.service

[Service]
Type=simple
Environment=OTELCOL=localhost
ExecStart=/usr/bin/node --require /etc/dice/instrumentation.js /etc/dice/app.js
Restart=on-failure
WorkingDirectory=/etc/dice

[Install]
WantedBy=multi-user.target
