[Unit]
Description=o11y stack: tempo container
Requires=o11y-network.service
After=o11y-network.service

[Container]
ContainerName=tempo
HostName=tempo
Image=docker.io/grafana/tempo:latest
Exec=-config.file=/etc/tempo.yaml
Network=o11y.network
PublishPort=3200:3200
Volume=/etc/tempo/tempo.yaml:/etc/tempo.yaml
Volume=/var/tempo:/var/tempo:Z

[Install]
WantedBy=multi-user.target
EOF
cat << EOF > /etc/containers/systemd/o11y-loki.container
[Unit]
Description=o11y stack: loki container
Requires=o11y-network.service
After=o11y-network.service

[Container]
ContainerName=loki
HostName=loki
Image=docker.io/grafana/loki:latest
Network=o11y.network
PublishPort=3100:3100
Volume=/var/loki:/loki:Z

[Install]
WantedBy=multi-user.target
